@using Core.Models
@model Slider
<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-action="DeletePost" method="post" enctype="multipart/form-data">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Model.Description</h6>
                        <a asp-action="Index" class="card-link">Go Back</a>
                        <input asp-for="@Model.Id" hidden value="@Model.Id" />
                        <span></span>
                        <button  class="card-link">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div